
 :root {
    --theme-default: #6777ef;
    --theme-secondary: #EE5A24;
    --ungu: #301BEC;
    --co-dark: #161b22;
    --co-bg: #0d1117;
    --co-obj: #21262d; 
}
.form-control::placeholder{font-size: 13px !important;}
h1,h2,h3,h4,h5,h6{font-weight: 600;}
.sidebar-wrapper .logo-wrapper img{width: 160px;}
.redalert{font-size: 14px; color: #e11c1c; font-weight: 600; position: absolute; right: 0; top: 8px;display: flex; align-items: center;}
.redalert svg{margin-right:5px!important;width:20px;height:20px}
.profile-media img{width: 35px !important;}
.fotopro{display:flex;flex-direction:column;margin:15px auto !important;max-width:200px;align-items:center}.fotopro .namanya{font-size:16px!important;color:#fff!important;letter-spacing:0;margin-top:10px;margin-bottom:0}

.flex {
    display: flex;
}
.flex-col {
flex-direction: column;
}.w65 {
    width: 65px;
}
.flex-center{align-items: center;}
.btn i {margin-right: 7px;}
.text-right{text-align: right;}
.simplebar-mask{z-index: 99 !important}

.navtop{padding:10px 7px;background:var(--co-obj)}
.nav-submenu{visibility: hidden; opacity: 0;-webkit-transform: rotateX(-75deg);position: absolute; top: 35px; z-index: 1000; margin: 0px; padding: 7px; min-width: 190px; -webkit-transform-origin: 0% 0%; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -webkit-transform-style: preserve-3d; background-color: #21262d; box-shadow: 0 10px 15px rgba(33, 38, 45, 0.29); border: 1px solid rgba(255, 255, 255, 0.04);}
.navlist li{display: inline-block; margin-right: 5px;position: relative;}
.nav-item a{display: flex; align-items: center; color: rgba(255,255,255,0.73); padding: 5px 15px; border-radius: 4px; transition: all .2s ease-in-out;}.nav-item a svg{width:16px;margin-right:7px}.navlist{display:flex;align-items:center}
.nav-item a:hover{background: rgba(255, 255, 255, 0.16);}
.nav-submenu li{position: relative; margin: 0px auto 7px; padding: 0px; display: block;}
.nav-item:hover .nav-submenu{opacity: 1; visibility: visible;transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg);}

.sidebar-wrapper{display: none;}
.toogle-nav{display:none;margin-right: 10px;background-color:transparent;border:none;cursor:pointer;padding:0}
.line{fill:none;stroke:#fff;stroke-width:6;transition:stroke-dasharray 600ms cubic-bezier(0.4,0,0.2,1),stroke-dashoffset 600ms cubic-bezier(0.4,0,0.2,1)}
.line1{stroke-dasharray:60 207;stroke-width:6}
.line2{stroke-dasharray:60 60;stroke-width:6}
.line3{stroke-dasharray:60 207;stroke-width:6}
.opened .line1{stroke-dasharray:90 207;stroke-dashoffset:-134;stroke-width:6}
.opened .line2{stroke-dasharray:1 60;stroke-dashoffset:-30;stroke-width:6}
.opened .line3{stroke-dasharray:90 207;stroke-dashoffset:-134;stroke-width:6}

.logo-wrapper{width: 150px;}

@media (max-width:768px){
    .nav-submenu{display: none;opacity: 1; visibility: visible;-webkit-transform: unset;position:relative;top:0;padding:5px;min-width:auto;background:rgba(1,1,1,0.4);border:0}
.nav-submenu li a{padding:8px 34px;border:0}
.page-title .row h3{font-size: 16px !important;}
    #pageWrapper{min-width: 394px;}
    .horizontal-wrapper .left-header{display: none;}.toogle-nav{display:flex}
    .header-logo-wrapper{display: flex; align-items: center;}.item-aktif{display: block;}
    .nav-aktif .toogle-nav{z-index: 1001; background: #EE5A24; border-radius: 50%;}
    .navtop{overflow-y: scroll; -webkit-overflow-scrolling: touch; visibility: visible; z-index: 1000; top: 0; height: 100% !important; width: 100%; left: 0; padding: 0; position: fixed; margin-left: -100%;background: transparent;}
.navlist{height: 100vh; z-index: 97; display: inline-block; width: 270px; top: 0; position: relative; flex-direction: column; display: flex; align-items: baseline; background: #21262d;}
.nav-item{width:100%}
.nav-aktif .navtop{margin: 0; transition: all .2s ease-in-out;}
.nav-aktif #pageWrapper{margin-left: 270px; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
.nav-item a{border-bottom:1px solid rgba(255,255,255,0.12);padding:15px}
.overnav{width: calc(100% - 270px);right: 0;height: 100vh; position: fixed; top: 0; opacity: 0; visibility: hidden; background-color: rgba(0, 0, 0, 0.51); cursor: pointer;}
.nav-aktif .overnav{opacity: 1; visibility: visible; -webkit-transition: opacity .2s ease-in-out; -moz-transition: opacity .2s ease-in-out; -ms-transition: opacity .2s ease-in-out; -o-transition: opacity 1.5s ease-in-out;}

}

.btn-sm{padding: 8px 20px;}.form-group{margin-bottom: 15px;}.btn-sm i{margin-right: 7px;}
.form-group input,
.form-group textarea,
.form-group select
{font-size: 14px; color: #dbdbdb; padding: 12px 10px; background: #313842 !important; border: 1px solid #525c6a !important;}

.form-group input:focus,
.form-group textarea:focus
{background: #576273; color: #fff; box-shadow: 0 0 0 2px var(--theme-default);}
.form-group label{margin-bottom: 6px;}
.form-control::placeholder {
    color: #95a0aa
}

.w100 {
    width: 100%;
}

.tengahkan {
    max-width: 1000px !important;
}

.kecil {
    max-width: 550px !important;
}
.btn-ic{padding: 6px 10px; display: inline-block; border-radius: 50px; width: 34px; text-align: center;}
.table > tbody{vertical-align: baseline;}.swal-footer{text-align: center;}
.form-control:disabled,
.form-control[readonly] {
    background: #23282f !important;
    color: #676767;
}

.card-sm {
    display: inline-block;
    padding: 15px;
    background-color: var(--co-obj);
    width: 100%;
    border-radius: 6px;
}
.inputjax input{background: #4f5b6a; border-color: #0d1117;color: #fff;}